<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>nomad</title>
    <link rel="stylesheet" href="../styles/main.css" />
    <link rel="stylesheet" href="../styles/forms.css" />
    <link rel="stylesheet" href="../styles/card.css" />
    <link rel="stylesheet" href="../styles/trip.css" />
    <script src="../js/Trip.js" defer type="module"></script>
    <script src="../js/Card.js" defer type="module"></script>
    <script src="../js/Card.js" defer type="module"></script>
    <script src="../index.js" defer type="module"></script>
  </head>
  <body>
    <h1>Nomad – your trello for travel</h1>

    <form class="trip__form active-form" action="/">
      <label for="trip__name">Give your trip a name</label>
      <input id="trip__name--form-input" type="text" name="trip__name" />
      <label for="trip__date">Dates for your trip</label>
      <input type="date" name="trip__date" id="trip__date--form-input" />
      <button type="submit">Create trip</button>
    </form>

    <main id="trips__container"></main>
  </body>
</html>
