<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>nomad</title>
    <link rel="stylesheet" href="../styles/main.css" />
    <link rel="stylesheet" href="../styles/forms.css" />
    <link rel="stylesheet" href="../styles/card.css" />
    <link rel="stylesheet" href="../styles/trip.css" />
    <script src="../js/" defer></script>
  </head>
  <body>
    <h1>Nomad – your trello for travel</h1>

    <form class="trip__form active-form" action="/">
      <label for="trip">Give your trip a name</label>
      <input type="text" name="trip" />
      <label for="trip__date">Dates for your trip</label>
      <input type="date" name="trip__date" id="trip__date">
      <button type="submit">Create trip</button>
    </form>

    <form class="card__form" action="/">
      <label for=""
        >A card is a building-block of your trip. It could be a place, or a
        bucket where you save some links. It's really up to you.</label
      >
      <input type="text" />
      <button>Add card</button>
    </form>

    <main id="trip">
      <h2 class="trip__name">CA road trip</h2>
      <article class="card">
        <div class="card__image"></div>
        <h3 class="card__name">Venice Beach</h3>
        <div>
          Location:
          <a
            class="card__location"
            href="https://www.google.com/maps/place/Venice,+Los+Angeles,+CA,+USA/data=!4m2!3m1!1s0x80c2bac03052685d:0x8f1101b40d5c8d3c?sa=X&ved=2ahUKEwijy7O58ujrAhWAQRUIHSAPBzUQ8gEwKHoECCIQBA"
            target="_blank"
            >Venice, California</a
          >
        </div>
        <div class="card__weather-report">
          <table>
            <tr>
              <td>Avg temp</td>
              <td>Max temp</td>
              <td>Min temp</td>
            </tr>
            <tr>
              <td>23</td>
              <td>14</td>
              <td>27</td>
            </tr>
          </table>
        </div>
      </article>
      <article class="card">
        <div class="card__image"></div>
        <h3 class="card__name">Venice Beach</h3>
        <div>
          Location:
          <a
            class="card__location"
            href="https://www.google.com/maps/place/Venice,+Los+Angeles,+CA,+USA/data=!4m2!3m1!1s0x80c2bac03052685d:0x8f1101b40d5c8d3c?sa=X&ved=2ahUKEwijy7O58ujrAhWAQRUIHSAPBzUQ8gEwKHoECCIQBA"
            target="_blank"
            >Venice, California</a
          >
        </div>
        <div class="card__weather-report">
          <table>
            <tr>
              <td>Avg temp</td>
              <td>Max temp</td>
              <td>Min temp</td>
            </tr>
            <tr>
              <td>23</td>
              <td>14</td>
              <td>27</td>
            </tr>
          </table>
        </div>
      </article>
      <article class="card">
        <div class="card__image"></div>
        <h3 class="card__name">Venice Beach</h3>
        <div>
          Location:
          <a
            class="card__location"
            href="https://www.google.com/maps/place/Venice,+Los+Angeles,+CA,+USA/data=!4m2!3m1!1s0x80c2bac03052685d:0x8f1101b40d5c8d3c?sa=X&ved=2ahUKEwijy7O58ujrAhWAQRUIHSAPBzUQ8gEwKHoECCIQBA"
            target="_blank"
            >Venice, California</a
          >
        </div>
        <div class="card__weather-report">
          <table>
            <tr>
              <td>Avg temp</td>
              <td>Max temp</td>
              <td>Min temp</td>
            </tr>
            <tr>
              <td>23</td>
              <td>14</td>
              <td>27</td>
            </tr>
          </table>
        </div>
      </article>
      <article class="card">
        <div class="card__image"></div>
        <h3 class="card__name">Venice Beach</h3>
        <div>
          Location:
          <a
            class="card__location"
            href="https://www.google.com/maps/place/Venice,+Los+Angeles,+CA,+USA/data=!4m2!3m1!1s0x80c2bac03052685d:0x8f1101b40d5c8d3c?sa=X&ved=2ahUKEwijy7O58ujrAhWAQRUIHSAPBzUQ8gEwKHoECCIQBA"
            target="_blank"
            >Venice, California</a
          >
        </div>
        <div class="card__weather-report">
          <table>
            <tr>
              <td>Avg temp</td>
              <td>Max temp</td>
              <td>Min temp</td>
            </tr>
            <tr>
              <td>23</td>
              <td>14</td>
              <td>27</td>
            </tr>
          </table>
        </div>
      </article>
    </main>
  </body>
</html>
