.card {
  display: flex;
  flex-direction: column;
}

.card__image {
  background-image: url("https://cdn.pixabay.com/photo/2017/04/05/01/16/tropical-2203737_1280.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 320px;
}

.card__name {
  margin: 1rem 0 0.5rem 0;
}

.card__weather-report {
  margin: 1rem 0;
}

.card__weather-report td {
  padding: 0 0.5rem 0.5rem 0;
}