.card {
  display: flex;
  flex-direction: column;
}

.card__image {
  background-size: cover;
  background-repeat: no-repeat;
  height: 320px;
}

.card__name {
  margin: 1rem 0 0.5rem 0;
}

.card__weather-report {
  margin: 1rem 0;
}

.card__weather-report td {
  padding: 0 0.5rem 0.5rem 0;
}

.delete-btn {
  height: 2.5rem;
  width: 6rem;
  margin: 0.5rem 0;
  border-radius: 2rem;
  font-size: 0.8rem;
}

.delete-btn:hover {
  cursor: pointer;
  background-color: tomato;
}